In [32]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LogisticRegression

import seaborn as sns

In [33]:
df=pd.read_csv("train.csv")[["Age","Pclass","SibSp","Parch","Survived"]]

In [34]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [35]:
df.dropna(inplace=True)

In [36]:
X=df.iloc[:,0:4]
y=df.iloc[:,-1]

In [37]:
X.head()

    Age  Pclass  SibSp  Parch
0  22.0       3      1      0
1  38.0       1      1      0
2  26.0       3      0      0
3  35.0       1      1      0
4  35.0       3      0      0

In [38]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring="accuracy",cv=25))

0.6966009852216749

## Applying Feature Construction

In [39]:
X["Family_size"]=X["SibSp"]+X["Parch"]+1

In [40]:
X.head()

    Age  Pclass  SibSp  Parch  Family_size
0  22.0       3      1      0            2
1  38.0       1      1      0            2
2  26.0       3      0      0            1
3  35.0       1      1      0            2
4  35.0       3      0      0            1

In [41]:
def myfunc(num):
    if num==1:
        return 0
    elif num>1 and num<=4:
        return 1
    else:
        return 2

In [42]:
myfunc(6)

2

In [43]:
X["Family_type"]=X["Family_size"].apply(myfunc)

In [44]:
X.head()

    Age  Pclass  SibSp  Parch  Family_size  Family_type
0  22.0       3      1      0            2            1
1  38.0       1      1      0            2            1
2  26.0       3      0      0            1            0
3  35.0       1      1      0            2            1
4  35.0       3      0      0            1            0

In [45]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring="accuracy",cv=25))

c:\Users\lucius seneca\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7064039408866996

In [46]:
X.drop(columns=["SibSp","Parch","Family_size"],inplace=True)

In [47]:
X.head()

    Age  Pclass  Family_type
0  22.0       3            1
1  38.0       1            1
2  26.0       3            0
3  35.0       1            1
4  35.0       3            0

In [48]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring="accuracy",cv=25))

0.700935960591133