In [1]:
import pandas as pd

# Sample data with more rows
data = {
    'sales': [100, 200, 150, 175, 220, 140, 180, 190],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego'],
    'size': ['Large', 'Large', 'Medium', 'Large', 'Medium', 'Large', 'Medium', 'Small']
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   sales          city    size
0    100      New York   Large
1    200   Los Angeles   Large
2    150       Chicago  Medium
3    175       Houston   Large
4    220       Phoenix  Medium
5    140  Philadelphia   Large
6    180   San Antonio  Medium
7    190     San Diego   Small

In [2]:
df

   sales          city    size
0    100      New York   Large
1    200   Los Angeles   Large
2    150       Chicago  Medium
3    175       Houston   Large
4    220       Phoenix  Medium
5    140  Philadelphia   Large
6    180   San Antonio  Medium
7    190     San Diego   Small

In [3]:
df.head(5)

   sales         city    size
0    100     New York   Large
1    200  Los Angeles   Large
2    150      Chicago  Medium
3    175      Houston   Large
4    220      Phoenix  Medium

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder

In [5]:
transformer=ColumnTransformer(
    transformers=[("ohe",OneHotEncoder(sparse_output=False,drop="first"),["city"]),
                  
                  ("ode",OrdinalEncoder(),["size"])


    ],remainder="passthrough"


)

In [8]:
df=transformer.fit_transform(df)

In [9]:
df

array([[  0.,   0.,   1.,   0.,   0.,   0.,   0.,   0., 100.],
       [  0.,   1.,   0.,   0.,   0.,   0.,   0.,   0., 200.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   1., 150.],
       [  1.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 175.],
       [  0.,   0.,   0.,   0.,   1.,   0.,   0.,   1., 220.],
       [  0.,   0.,   0.,   1.,   0.,   0.,   0.,   0., 140.],
       [  0.,   0.,   0.,   0.,   0.,   1.,   0.,   1., 180.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   1.,   2., 190.]])