In [1]:
import pandas as pd

In [3]:
d= {
    'sales': [100, 150, 200, 120, 180, 220, 130, 190],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Dallas', 'Miami', 'Seattle'],
    'size': ['Small', 'Medium', 'Large', 'Small', 'Large', 'Medium', 'Small', 'Large']
}
df=pd.DataFrame(data=d)

In [4]:
df

   sales         city    size
0    100     New York   Small
1    150  Los Angeles  Medium
2    200      Chicago   Large
3    120      Houston   Small
4    180      Phoenix   Large
5    220       Dallas  Medium
6    130        Miami   Small
7    190      Seattle   Large

In [5]:
df.head(2)

   sales         city    size
0    100     New York   Small
1    150  Los Angeles  Medium

In [6]:
df["size"].unique()

array(['Small', 'Medium', 'Large'], dtype=object)

In [8]:
sizes=['Small', 'Medium', 'Large']

In [9]:
from sklearn.preprocessing import OrdinalEncoder
enc=OrdinalEncoder(categories=[sizes])

In [10]:
enc.fit_transform(df[["size"]])

array([[0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [11]:
df["size"]=enc.fit_transform(df[["size"]])

In [12]:
df

   sales         city  size
0    100     New York   0.0
1    150  Los Angeles   1.0
2    200      Chicago   2.0
3    120      Houston   0.0
4    180      Phoenix   2.0
5    220       Dallas   1.0
6    130        Miami   0.0
7    190      Seattle   2.0