In [1]:
import pandas as pd
df=pd.read_csv("house-train.csv",usecols=["GarageQual","FireplaceQu","SalePrice"])

In [2]:
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [22]:
df["GarageQual"].value_counts()

GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64

In [13]:
df.isnull().sum()

FireplaceQu    690
GarageQual      81
SalePrice        0
dtype: int64

In [4]:
X=df
y=df["SalePrice"]

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [6]:
X_train['GarageQual_imputed']=X_train["GarageQual"]
X_test["GarageQual_imputed"]=X_test["GarageQual"]

X_train["FireplaceQu_imputed"]=X_train["FireplaceQu"]
X_test["FireplaceQu_imputed"]=X_test["FireplaceQu"]

In [14]:
X_train.isnull().sum()

FireplaceQu            557
GarageQual              65
SalePrice                0
GarageQual_imputed      65
FireplaceQu_imputed    557
dtype: int64

In [23]:
X_train["GarageQual"].value_counts()

GarageQual
TA    1049
Fa      41
Gd      11
Po       1
Ex       1
Name: count, dtype: int64

In [7]:
X_train.sample(5)

     FireplaceQu GarageQual  SalePrice GarageQual_imputed FireplaceQu_imputed
443           Gd         TA     172500                 TA                  Gd
835          NaN         TA     128000                 TA                 NaN
499          NaN         TA     120000                 TA                 NaN
89           NaN        NaN     123600                NaN                 NaN
1049         NaN         TA      84900                 TA                 NaN

In [17]:
X_train["GarageQual_imputed"][X_train["GarageQual_imputed"].isnull()]=X_train["GarageQual"].dropna().sample(X_train["GarageQual"].isnull().sum()).values
X_test["GarageQual_imputed"][X_test["GarageQual_imputed"].isnull()]=X_train["GarageQual"].dropna().sample(X_test["GarageQual"].isnull().sum()).values

C:\Users\lucius seneca\AppData\Local\Temp\ipykernel_18328\3141804443.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  X_train["GarageQual_imputed"][X_train["GarageQual_imputed"].isnull()]=X_train["GarageQual"].dropna().sample(X_train["GarageQual"].isnull().sum()).values
C:\Users\lucius seneca\AppData\Local\Temp\ipykernel_18328\3141804443.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["GarageQual_imputed"][X_train["GarageQual_imputed"].isnull()]=X_train["GarageQual"].dropna().sample(X_train["GarageQual"].isnull().sum()).values
C:\Users\lucius seneca\AppData\Local\Temp\ipykernel_18328\3141804443.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  X_test["GarageQual_imputed"][X_test["GarageQual_imputed"].isnull()]=X_train["GarageQual"].dropna().sample(X_test["GarageQual"].isnull().sum()).values
C:\Users\lucius seneca\AppData\Local\Temp\ipykernel_18328\3141804443.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["GarageQual_imputed"][X_test["GarageQual_imputed"].isnull()]=X_train["GarageQual"].dropna().sample(X_test["GarageQual"].isnull().sum()).values

In [18]:
X_train["FireplaceQu_imputed"][X_train["FireplaceQu_imputed"].isnull()]=X_train["FireplaceQu"].dropna().sample(X_train["FireplaceQu"].isnull().sum()).values
X_test["FireplaceQu_imputed"][X_test["FireplaceQu_imputed"].isnull()]=X_train["FireplaceQu"].dropna().sample(X_test["FireplaceQu"].isnull().sum()).values

C:\Users\lucius seneca\AppData\Local\Temp\ipykernel_18328\3615332276.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  X_train["FireplaceQu_imputed"][X_train["FireplaceQu_imputed"].isnull()]=X_train["FireplaceQu"].dropna().sample(X_train["FireplaceQu"].isnull().sum()).values
C:\Users\lucius seneca\AppData\Local\Temp\ipykernel_18328\3615332276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["FireplaceQu_imputed"][X_train["FireplaceQu_imputed"].isnull()]=X_train["FireplaceQu"].dropna().sample(X_train["FireplaceQu"].isnull().sum()).values
C:\Users\lucius seneca\AppData\Local\Temp\ipykernel_18328\3615332276.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  X_test["FireplaceQu_imputed"][X_test["FireplaceQu_imputed"].isnull()]=X_train["FireplaceQu"].dropna().sample(X_test["FireplaceQu"].isnull().sum()).values
C:\Users\lucius seneca\AppData\Local\Temp\ipykernel_18328\3615332276.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["FireplaceQu_imputed"][X_test["FireplaceQu_imputed"].isnull()]=X_train["FireplaceQu"].dropna().sample(X_test["FireplaceQu"].isnull().sum()).values

In [19]:
X_train

     FireplaceQu GarageQual  SalePrice GarageQual_imputed FireplaceQu_imputed
455           TA         TA     175500                 TA                  TA
863          NaN         TA     132500                 TA                  Gd
504           Fa         TA     147000                 TA                  Fa
1413          Gd         TA     257000                 TA                  Gd
1389          Gd         TA     131000                 TA                  Gd
...          ...        ...        ...                ...                 ...
466           Po         TA     167000                 TA                  Po
299           Gd         TA     158500                 TA                  Gd
493           Fa         TA     155000                 TA                  Fa
527           Gd         TA     446261                 TA                  Gd
1192         NaN         TA     125000                 TA                  Gd

[1168 rows x 5 columns]

In [25]:
X_train["GarageQual_imputed"].value_counts()

GarageQual_imputed
TA    1110
Fa      43
Gd      12
Ex       2
Po       1
Name: count, dtype: int64

In [26]:
temp=pd.concat([
    X_train["GarageQual"].value_counts()/len(X_train["GarageQual"].dropna()),

    X_train["GarageQual_imputed"].value_counts()/len(X_train)
],axis=1)

temp.columns=["orginal","imputed"]

In [27]:
temp

     orginal   imputed
TA  0.951043  0.950342
Fa  0.037171  0.036815
Gd  0.009973  0.010274
Po  0.000907  0.000856
Ex  0.000907  0.001712

In [28]:
temp=pd.concat([
    X_train["FireplaceQu"].value_counts()/len(X_train["FireplaceQu"].dropna()),

    X_train["FireplaceQu_imputed"].value_counts()/len(X_train)
],axis=1)

temp.columns=["orginal","imputed"]

In [29]:
temp

     orginal   imputed
Gd  0.494272  0.494007
TA  0.412439  0.415240
Fa  0.040917  0.041096
Po  0.027823  0.024829
Ex  0.024550  0.024829