In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("https://gist.githubusercontent.com/stoicsapien1/72729ffbcd4b75b7bedd4b01b65bc9b5/raw/bf95a2e30fceb9f2ae990eac8379fc7d844a0196/weight-height.csv")

In [5]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801